{% extends "base.html" %}
{% block content %}
<h1>Project: {{ project_name }}</h1>

{% if session['role'] == 'teacher' %}
<a href="{{ url_for('add_team', class_name=class_name, project_name=project_name) }}" class="btn btn-primary">Add Team</a>
<h2>All Teams</h2>
{% if teams %}
    <ul class="list-group">
        {% for team_name in teams.keys() %}
        <li class="list-group-item">
            <a href="{{ url_for('team_view', class_name=class_name, project_name=project_name, team_name=team_name) }}">{{ team_name }}</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No teams available.</p>
{% endif %}

{% elif session['role'] == 'student' %}
    {% if student_team_assigned %}
        <h3>Your Team: {{ student_team_assigned }}</h3>
        <a href="{{ url_for('team_view', class_name=class_name, project_name=project_name, team_name=student_team_assigned) }}" class="btn btn-info">View Team</a>
    {% else %}
        <p>You have not been assigned to any team yet.</p>
    {% endif %}
{% endif %}

<a href="{{ url_for('classroom_view', class_name=class_name) }}" class="btn btn-secondary">Back</a>
{% endblock %}
