{% extends "base.html" %}

{% block content %}
    <h1>Team: {{ team_name }}</h1>
    <h2>Project: {{ project_name }}</h2>
    <h3>Classroom: {{ class_name }}</h3>

    <h2>Team Members</h2>
    {% if team_members %}
        <ul>
            {% for member in team_members %}
                <li>{{ member }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No members in this team yet.</p>
    {% endif %}

    <a href="{{ url_for('project_view', class_name=class_name, project_name=project_name) }}">Back to Project</a>
    <br>
    <a href="{{ url_for('classroom_view', class_name=class_name) }}">Back to Classroom</a>
    <br>
    <a href="{{ url_for('teachers_home') }}">Back to Home</a>
    {% endblock %}
