<!-- upload.html -->
{% extends "base.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    <label for="class_name">Class Name:</label>
    <input type="text" id="class_name" name="class_name" required>

    <label for="student_file">Student File (CSV or Excel):</label>
    <input type="file" id="student_file" name="student_file" accept=".csv, .xls, .xlsx" required>

    <button type="submit">Upload</button>
</form>


<a href="{{ url_for('teachers_home') }}">Back</a>
{% endblock %}